#app > div {
    border: solid black 1px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  figure {
    width: 80px;
    padding: 10px;
    margin: 10px;
    background-color:  rgba(231, 175, 65, 1);
    border-radius: 5px;
    text-align: center;
    align-items: center;
  }

  figcaption {
    text-align: center;
  }
  
  img {
    height: 10px;
    width: 10px;
  }