.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
body{
  background-repeat: no-repeat;
  font-family: "Comfortaa", sans-serif;
  background-size: 1920px 1080px;
  
 
}

header, footer {

  padding: 20px;
}

main {
  
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 2;

  padding: 20px;
  display: flex;
  flex-wrap: wrap;



  

  .main-content > div {
      
      width: 300px;
      margin: 10px;
      text-align: center;
      line-height: 35px;
      font-size: 18px;
  }}






.sidebar {
  flex: 1;
  padding: 20px;
}

img{
  height: 300px;
  padding: 10px;
  width: 200px;
}