.main-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Comfortaa", sans-serif;
  flex-direction: column;
  opacity: 0.9;
}
 
.main-container > .sub-container {
  background-color: #f1f1f1;
  min-width: 250px;
  margin: 20px;
  line-height: 25px;
  font-size: 15px;
  font-family: "Comfortaa", sans-serif;
  flex-direction: row;
  padding:20px;
  border-radius: 20px;
}

.holder {
  display: flex;
  flex-wrap: wrap;
  font-family: "Comfortaa", sans-serif;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: yellow;
}

.holder > .image {
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: black;
}


h1 {
font-family: "Comfortaa", sans-serif;
text-align: center;
}


body {
  background-attachment: fixed;
  font-family: "Comfortaa", sans-serif;
}

img {
  height: 720px;
  width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding :20px;
}