body {
    background-color: #847545;
}
h1 {
    color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    font-family: Verdana;
    font-size: 20px;
}